# Ignore node_modules
node_modules/

# Ignore dist folder (it will be regenerated during build)
dist/

# Ignore Parcel cache
.parcel-cache/

# Ignore lock files (optional, if you want to commit package-lock.json, remove this)
package-lock.json